<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center header">
            <h1>Github Search</h1>
        </div>
        <div class="col-md-12 text-center">
            <div class="search">
                <form (ngSubmit)='getUser(search)' #userForm='ngForm'>
                  <input type="text" placeholder="Search.." name="search" [(ngModel)]="search" #name='ngModel'>
                  <button type="submit" (click)="getRepos(search)" ><i class="fa fa-search"></i></button>
                </form>
              </div>
        </div>
    </div>
    <div class="row justify-content-around">
      <div class="col-md-3">
        <div class="box" *ngFor="let user of users;let i = index">  
          <app-userinfo [user]="user"></app-userinfo>
        </div>
      </div>
      <div class="col-md-9">
        <div class="box text-center" *ngFor='let repo of repos;let i = index'>
          <app-user-repo *ngIf='repo.showDetails' [repo]="repo"></app-user-repo>
        </div>
      </div>
    </div>
  </div>

  <!-- *ngIf='users.showDetails' *ngIf='repos.showDetails' (click)="viewDetails()" -->