<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center header">
            <h1>Github Search</h1>
        </div>
    </div>
    <div class="row align-items-center search">
        <div class="col-md-12">
            <div class="search-container">
                  <input type="text" placeholder="Search.." name="search">
                  <button type="submit" (click)="getUser()"><i class="fa fa-search"></i></button>
              </div>
        </div>
    </div>
    <div class="row justify-content-around">
      <div class="col-md-5">
        <app-userinfo [user]="user"></app-userinfo>
      </div>
      <div class="col-md-6">
          <div >
            <app-user-repo></app-user-repo>
          </div>
      </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-12 text-center footer">
        <p>Copyright &copy; 2020</p>
        </div>
    </div> -->
  </div>