/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.header{
    background-color: #11c4db;
    height: 100px;
    color: white;
}

.header > h1{
    margin-top: 30px;
}

.search{
    height: 40px;
}

.search > form{ 
    margin-top: 10px;
}

.search  > form > input{
    width: 450px;
}

.box{
    border-radius: 12px;
    background-color: #e3fafa;
    margin:10px;
}

.box > a > p > h1{
    margin:5px;
}

.footer{
    background-color: #11c4db;
    height: 50px;
    color: white;
}

.footer > p{
    margin-top: 15px;
    font-weight: 20px;
}